{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <header>
        <nav>
            <nav>
                <a href="{% url 'home' %}">Main Page</a>
            </nav>
        </nav>
    </header>
    <body>
        <main>
            <h1>Login!</h1>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Login</button>
                </form>
            </div>
            <h2>Don't have an account?</h2>
            <a href="{% url 'signup' %}">Sign Up !</a>
        </main>
    </body>
    <footer></footer>
</html>
