{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Categories</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <header>
        <nav>
            <a href="{% url 'home' %}">Main Page</a>
            <a href="{% url 'create_category' %}">Create a new category !</a>
        </nav>
    </header>
    <body>
        <main>
            <div>
                <h1>Categories</h1>
            </div>
            <hr>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Number of receipts</td>
                    </tr>
                </thead>
                <tbody>
                    {% for items in categories %}
                        <tr>
                            <td>{{ items.name }}</td>
                            <td>{{ items.receipts.all.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
    <footer>
    </footer>
</html>
