{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <nav>
        <a href="{% url 'home' %}">Main Page</a>
        {% if user.is_authenticated %}
            Hello {{ user.username }}!,
            <a href="{% url 'logout' %}">Logout ?</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    <body>
        <main>
            <h1>My Receipts</h1>
            <div>
                <div id="links">
                    <a href="{% url 'create_receipt' %}">Add a New Receipt</a>
                    <a href="{% url 'category_list' %}">Receipt Categories</a>
                    <a href="{% url 'account_list' %}">Accounts</a>
                </div>
            </div>
            <hr>
            <table>
                <thead>
                    <tr>
                        <td>Vendor</td>
                        <td>Total</td>
                        <td>Tax</td>
                        <td>Date</td>
                        <td>Category</td>
                        <td>Account</td>
                    </tr>
                </thead>
                <tbody>
                    {% for items in receipt_list.all %}
                        <tr>
                            <td>{{ items.vendor }}</td>
                            <td>{{ items.total }}</td>
                            <td>{{ items.tax }}</td>
                            <td>{{ items.date|date:"m/j/y" }}</td>
                            <td>{{ items.category }}</td>
                            <td>{{ items.account }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
    <footer></footer>
</html>
