@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@900&family=Ubuntu&display=swap');

html {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(255, 255, 255)
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding-left: 1%;
    margin-bottom: 50px;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background-color: #6d9cf33b;

}


img {
    height: 200px;
    box-shadow: 2px 2px 4px #0000004b;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #4a74fd;
    text-shadow: 2px 2px 4px #0000004b;
    text-align: center;
    font-weight: bolder;
    color: #f0fad2;
}

a:hover {
    color: rgb(10, 0, 66);
}

tbody>tr:nth-child(odd) {
    background-color: rgba(220, 220, 220, 0.521);
}

table,
th {
    background-color: #4a74fd1c;
}



table,
th,
td {
    border: 1.5px solid rgba(0, 0, 0, 0.13);
    border-collapse: collapse;
    width: fit-content;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

a {
    text-decoration: none;
}

main a {
    color: #143611;
    text-shadow: 2px 2px 4px #0000004b;
    padding-right: 20px;
}

nav a {
    color: white;
    font-weight: bolder;
    padding: 10px 5px;
    padding-right: 20px;
    display: inline;
    width: 100%,
}

h1 {
    color: #141414;
    text-shadow: 2px 2px 2px #00000034;
    font-weight: bold;
}
